---
title: "Get n'th row of dataframe"
author: "Jan Meppe"
date: 2021-04-11
description: "Get n'th row of dataframe"
type: technical_note
draft: false
---

## Imports

In [1]:
# Load library
import pandas as pd

## Create data

In [7]:
df = pd.DataFrame({
    "apples": [1, 1],
    "oranges": [2, 4]
})

## Get dataframe with `.iloc[[]]`

In [8]:
df.iloc[[0]]

   apples  oranges
0       1        2

## Get series with `iloc[]`

In [9]:
df.iloc[0]

apples     1
oranges    2
Name: 0, dtype: int64